<div class="page-body" *ngIf="match">
    <div *ngIf="user.role==='ADMIN'">  
        <a mat-raised-button [routerLink]="['new']" class="mat-primary">Add new event</a>
      </div>
    <div *ngFor="let e of events; let i = index">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{e.match.home+' - '+e.match.away}}</mat-card-title>
          <mat-card-subtitle>Odds:</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            <button mat-button (click)="onBet($event.target)" value={{i}} name={{e.homeOdds}}>{{e.homeOdds}}</button>
            <button mat-button (click)="onBet($event.target)" value={{i}} name={{e.drawOdds}}>{{e.drawOdds}}</button>
            <button mat-button (click)="onBet($event.target)" value={{i}} name={{e.awayOdds}}>{{e.awayOdds}}</button>
          </p>
        </mat-card-content>
        <div *ngIf="user.role==='ADMIN' || user.role==='USER' ">
          <mat-card-actions>
            <button mat-button (click)="delete(i)" class="mat-accent">Delete</button>
          </mat-card-actions>
        </div>
      </mat-card>
      <hr>
    </div>